<<<<<<< HEAD
h3 {
=======
/* h3 {
>>>>>>> origin/main
    font-size: 24px;;
}

h2 {
    font-size: 28px;;
}

h1 {
    font-size: 28px;;
}

.about-us-container{
    padding: 20px;
    padding-left: 20;
} */
