footer {
    background-color: #3A7D44;
    padding: 20px 0;
}
.foot-container {
    padding-left: 15px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

div  {
    display: block;
}
.links-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    /* display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start; */
    padding: 5px 15px;
    gap: 7px;
}

.links {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    display: block;
    padding: 5px 0;
}

footer .copyright {
    /* right: 20px; */
    max-width: 40%;
    padding: 20px;
    margin-top: 8px;
    margin-right: 30px;
    gap: 5px;
    font-size: 14px;
    /* top: 0; */
}

.copyright a {
    color: black;
    text-decoration: none;
    font-weight: 700;
}