.body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin: 14px;
    padding: 0;
    box-sizing: border-box; 
}
.main-view {
    position: relative;

    overflow: hidden;
}

.main-view img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.main-view::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1;
    pointer-events: none;
}

.text-overlay {
    color: #333;
    z-index: 1;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
}

.text-overlay h1, p {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    font-family: "Roboto", sans-serif;
}

.text-overlay h1 {
    font-size: 8vw;
    font-weight: 600;
    margin-left: 0;
}

.text-overlay p {
    font-size: 3vw;
}

.text-overlay button {
    font-size: 1.8vw;
    font-weight: 500;
    color: black;
    padding: 20px;
    background-color: #69B578;
    border-radius: 10px;
    margin: 50px 20px 10px;
    width: 150px;
    box-shadow: 0 4px 6px #325539;
    border: none;
    cursor: pointer;
}

.text-overlay button:hover {
    background-color: #608f6a;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}
