.logoutbtn,
.quiz-entry .ptsbdg {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  user-select: text;
  text-decoration: none;
  color: #533f1d;
  color: #332a1b;
}
.logoutbtn,
.logout-form {
  color: white;
  display: inline-block;
  font-size: 100%;
}
.logoutbtn {
  font-family: revert;
}
.logoutbtn:hover,
.logoutbtn:active {
  color: inherit;
  text-decoration: underline;
}

.card {text-align: center;
    border: 1px solid #533f1d;
    margin: 0 0 10px 0;
    padding: 5px 5px 15px 5px;
    color: #533f1d;
}
  .card.standalone {
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
  }
  .card h4,
  .card p {
    margin: 0;
    padding: 0;
  }
  .card td.label {
    min-width: 61px;
  }
  .card label {
    color: black;
  }
  .card form table {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .card .remember td,
  .card .buttons td {
    padding-bottom: 8px;
  }
  .card .email td,
  .card .password td {
    text-align: right;
  }
  .card .email input,
  .card .password input {
    width: 100%;
    max-width: 100%;
  }
  .card .email td {
    padding-top: 8px;
  }
  .card .password td {
    padding-bottom: 8px;
  }
  .card .remember,
  .card .forgot {
    font-size: 80%;
    font-size: max(80%, 12px);
  }
  .card .remember label {
    vertical-align: top;
  }
  .card .forgot {
    float: right;
    text-align: right;
    font-weight: bold;
    display: block;
  }
  .card button {
    text-transform: uppercase;
    padding: 2px 5px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
  }
  .loginbtn {
    background: white;
    border-color: #B1B1B1 #1F1F1F #1F1F1F #B1B1B1;
    color: #332a1b;
  }
  .signupbtn {
    font-weight: bold;
    background: #F79872;
    background: var(--dark-orange);
    border-color: #ff8282 #960303 #960303 #ff8282;
    color: white;
  }
