.selection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 10px;
}

h1 {
    font-size: 30px;
}

.quizpage-container{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.food-waste, .clothing-waste, .food-card, .clothing-card {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding: 10px;
    cursor: pointer;
    
}

.food-card, .clothing-card {
    border: solid 3px;
    border-radius: 9px;
    box-shadow: 5px 5px #2e2e2e6b;
    margin: 10px;
    padding: 5px;
}