.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 10px;
    height: 100vh;
    background-image: url('../Assets/LakePhoto.jpg');
    background-size: cover;
}

.selection-container h1 {
    top:0;
    margin:20px;
    display: flex;
    color: ghostwhite;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: 3rem;
    z-index:1;
    text-shadow: 
    -1px -1px 0 #332a1b,  
     1px -1px 0 #332a1b,
    -1px  1px 0 #332a1b,
     2px  1px 0 #332a1b;
}

.quizpage-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.food-waste, .clothing-waste, .food-card, .clothing-card {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
}

.food-card, .clothing-card {
    border: solid black 2px;
    border-radius: 9px;
    box-shadow: 0px 15px 20px #11052c54;
    margin: 70px 50px;
    padding: 70px;
    background-color: #9dbf9ebe;
    transition:
    background-color 0.3s;
}

.food-card:hover, .clothing-card:hover {
    color:ghostwhite;
    background-color: #3a7d44ce;
    transition: color 0.3s;
}