#map {
  height: 400px;
  width: 75%;
}
#map-legend { /* I would like to place this legend over the map, to the left */
  height: 135px; /* with a low opacity */
  width: 235px;
  background-color: #69b578;
  border: solid #254d32;
  margin: 20px;
  padding: 10px;
}